* {
    box-sizing: border-box;
}

.light-effect {
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.8), transparent);
    border-radius: 50%;
    opacity: 0.5;
}

@keyframes moveLight {
    0% {
        transform: translate(0, 0) scale(1);
    }
    100% {
        transform: translate(0, 0) scale(1.5);
    }
}

.custom-background{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(0deg, #fff, #8b8bff, #010dc1, #000452, #000);
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(var(--random-move-y, -500px))
        translateX(var(--random-move-x, 500px))
        scale(var(--random-scale, 5));
    }
}

.scene-container {
    width: 100%;
    height: 100vh;
}

.scene-container {
    position: relative;
}

.scene {
    width: 100%;
    height: 100vh;
}

.scene-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
    transition: opacity 1.5s ease-in-out;
    text-shadow: 0 0 5px #ffffe0, 0 0 10px #ffffe0, 0 0 20px #ffeb3b,
                0 0 30px #ffeb3b, 0 0 40px #ffd700, 0 0 50px #ffd700,
                0 0 75px #ffd700;
    white-space: pre-line;
}

.background-work-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.work-container-inner {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.work-container-title{
    text-align: center;
}

.work-container-img-all{
    display: flex;
    justify-content: space-evenly;
}

.work-container-img {
    width: 30vw;
    height: 30vh;
}


