* {
    box-sizing: border-box;
}

.light-effect {
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.8), transparent);
    border-radius: 50%;
    opacity: 0.5;
}

@keyframes moveLight {
    0% {
        transform: translate(0, 0) scale(1);
    }
    100% {
        transform: translate(0, 0) scale(1.5);
    }
}

/* .custom-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(135deg, #1e1e2f, #24243e);
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateY(50px);
} */

.custom-background{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

.content {
  padding: 100vh 2rem 2rem; /* スクロールする余白 */
  font-size: 1.2rem;
  color: #fff;
  background: #121212;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(var(--random-move-y, -500px))
        translateX(var(--random-move-x, 500px))
        scale(var(--random-scale, 5));
    }
}

.scene-container {
  width: 100%;
  height: 100vh;
}

.scene-container {
  position: relative;
}

.scene {
  width: 100%;
  height: 100vh;
}

.scene-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  pointer-events: none;
  transition: opacity 1.5s ease-in-out;
    text-shadow: 0 0 5px #ffffe0, 0 0 10px #ffffe0, 0 0 20px #ffeb3b,
                0 0 30px #ffeb3b, 0 0 40px #ffd700, 0 0 50px #ffd700,
                0 0 75px #ffd700;
}

