.rese{
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.rese-img-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    min-width: 100%;
}

.rese-img{
    height: 200px;
    width: 300px;
}

.rese-text-all{
    display: flex;
    justify-content: center;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2列 */
    gap: 10px; /* 各アイテム間のスペース */
    padding: 0;
    list-style: none;
}

.rese-text{
    font-size: 1.3rem;
    background: #ffeeee;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.rese-text-page{
    font-size: 1.8rem;
    background: #ffeeee;
    border: none;
}
